@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

.main-container {
    background-position: center;
}

.shadow-container {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow:  5px 5px 16px #bdbdbd,
                -5px -5px 16px #ffffff;
}


.shadow-container-announcement {
    border-radius: 20px;
    box-shadow:  5px 5px 16px #bdbdbd,
                -5px -5px 16px #ffffff;
}

[data-popper-arrow]::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #3b82f6; /* tooltip color */
    bottom: -13px; 
    left: 50%;
    transform: translateX(-50%);
}

.custom-swal {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 10px; /* space between icon and text */
}

.custom-swal .swal2-icon {
  margin: 0 !important;
}

.custom-swal .swal2-title {
  margin: 0 !important;
  font-size: 1rem;
}

